body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0%;
    background-color: #50c2f7;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-top: 25px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: larger;
}

button:hover {
    background-color: #800080;
    color: #50c2f7;
    cursor: pointer;
}

.calculator {
    margin-top: 10px;
    margin-bottom: 80px;
    height: 550px;
    width: 350px;
    border-style: none;
    border-radius: 25px;
    background-color: #040272;
    align-self: center;
}


.upper-div {
    height: 30px;
}

.stored {
    height: 60px;
    font-size: 20px;
}

.display {
    height: 60px;
    font-size: 40px;
}

 .clear-buttons-container {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.display-screen {
    height: 150px;
    color: #c5c3c3;
    text-align: end;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    height: 350px;
    border-top: 1px solid #50c2f7;
    padding-top: 10px;
    padding-left: 20px;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.clear-buttons {
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: #50c2f7;
    color: #800080;
}

.main-buttons {
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #50c2f7;
    color: #800080;
}


